.modal-content1 {
    width: 200px;
  }

.modal-lg {
    max-width: 80% !important;
}
  
.modal-header {
background-color: blue;
border-radius: 6px;
border-bottom-left-radius: 0;
border-bottom-right-radius: 0;
font-family: Georgia, 'Times New Roman', Times, serif;
font-size:24px;
}