<div class="col-sm-8 mx-auto">
  <div class="card">
    <div class="card-header">
      About Us
    </div>
    <div class="card-body">
      <h5 class="text-info">
        Thank you for your interest in learning about our company Perfumes2Go LLC.
      </h5>
      <br>
      <p class="text-muted">
        We sell original fragrances and cosmetics at discounted retail and wholesale prices.
      </p>
      <p class="text-muted">
        We've been in business since 2001. Our mission is to conduct our business in an efficient and honest manner, that exceeds our customers expectations, providing the best quality service, special requests and low prices.
      </p>
      <p class="text-muted">
        We offer our customers different options in ordering their fragrances, please check our ordering information page for more details about placing an order with us.
      </p>
      <p class="text-muted">
        Satisfaction Is Our Number One Concern.
      </p>
      <p class="text-muted">
        To Get In Touch With Us Please Use Our <a href="./#/contactus">Contact Form</a>
      </p>
      <p class="text-muted">
        Or Call <i class="fa fa-phone"></i>&nbsp;<a href="tel:972-594-8081" target="_blank">972-594-8081</a>
      </p>
      <p class="text-muted">
        Office Hours : Mon - Sat 11:00 AM - 6:00 PM Central Standard Time
      </p>
    </div>
  </div>
</div>
