.modal-dialog {
  -webkit-transform: translate(0,-50%);
  -o-transform: translate(0,-50%);
  transform: translate(0,-50%);
  top: 20%;
  margin: 0 auto;
}

.modal-content {
  overflow:hidden;
}

.table-bordered,
.table-bordered td,
.table-bordered th {
    border-color: #b0b0b0;
}
