# General config
*.dat
*.iml
*.log
*.out
*.pid
*.seed
*.sublime-*
*.swo
*.swp
*.tgz
*.xml

# Node config
node_modules
npm-debug.log
package-lock.json

# Mac config
.DS_Store

# Ng Dist config
/dist
dist/*.txt

# Editor config
.idea
.project
.strong-pm

# Image Upload
images/products/
*.xlsx
