# General config
*.dat
*.iml
*.log
*.out
*.pid
*.seed
*.sublime-*
*.swo
*.swp
*.tgz
*.xml

# Node config
node_modules
npm-debug.log
package-lock.json

# Mac config
.DS_Store

# Editor config
.vscode
.idea
.project
.strong-pm
