<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" loadingText="Loading..." type="ball-scale-multiple">
</ngx-spinner>

<div class="form-element product-filters">
  <div class="form-group row clearfix">
    <label class="col-md col-sm col-form-label-sm type-left">Type: </label>
    <div class="col-md-5 col-sm-5">
      <select class="form-control form-control-sm select-type" #type (change)="selectType(type.value)" [(ngModel)]="selectedType">
        <option selected>ALL</option>
        <option *ngFor="let type of types" [value]="type">{{ type }}</option>
      </select>
    </div>
    <label class="col-md col-sm col-form-label-sm brand-left">Brand: </label>
    <div class="col-md-4 col-sm-4">
      <select class="form-control form-control-sm select-brand" #brand (change)="selectBrand(brand.value)" [(ngModel)]="selectedBrand">
        <option selected>ALL</option>
        <option *ngFor="let brand of brands" [value]="brand">{{ brand }}</option>
      </select>
    </div>
  </div>
</div>
<div class="form-left">
  <label class="quantity-left">{{ ( Total_cnt && Total_cnt !=0 ) ? Total_cnt : 0 }}</label>
</div>
<div class="table-responsive">
  <div class="grid-table-wrapper">
    <table id='datTable' datatable [dtOptions]="dtOptions" class="table table-bordered table-striped responsive" cellspacing="0"
      width="100%">
      <thead>
        <tr>
          <th>Image</th>
          <th>Brand</th>
          <th>Type</th>
          <th>SKU</th>
          <th>Description</th>
          <th>Price</th>
          <th>Available</th>
          <th *ngIf="userCategory === 'Customer'">Quantity</th>
          <th *ngIf="userCategory === 'Customer'">Subtotal</th>
          <th *ngIf="userCategory === 'Admin'" class="text-center">View</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of products; let i = index;" [ngClass]="{'deactive-product':product.productStatus === 'deactive'}">
          <td id="pdImg" class="text-center">
            <img *ngIf="!product.image" src="product.image" alt="Perfumes2Go" height="42" width="42">
            <img *ngIf="product.image" class="zoom" [src]="product.image" alt="Perfumes2Go" height="42" width="42" data-toggle="modal" data-target=".modal-sm"
              (click)="openModal(product.image, $event)" onError="this.src='/assets/product_placeholder.png';">
          </td>
          <td>{{ product.brand }}</td>
          <td>{{ product.type }}</td>
          <td>{{ product.SKU }}</td>
          <td>{{ product.description }}</td>
          <td>{{ product.price | currency:'USD' }}</td>
          <td>{{ product.stock }}</td>
          <td *ngIf="userCategory === 'Customer'">
            <div class="form-group">
              <input type="number" class="form-control form-control-sm quantity-input" min="0" max="{{ product.stock }}" value="{{ product.quantity }}"
                (input)="calculateProductSubTotal($event, product)">
            </div>
          </td>
          <td *ngIf="userCategory === 'Customer'">{{ product.subtotal | currency:'USD' }}</td>
          <td text-center *ngIf="userCategory === 'Admin'" class="text-center">
            <a class="d-inline-block tap-here" (click)="goEditProduct(product.SKU)">
              <span class="btn btn-success btn-sm place-order pull-right">
                <i class="fa fa-edit"></i>&nbsp;Edit
              </span>
            </a>
            &nbsp;&nbsp;
            <a class="d-inline-block tap-here" (click)="openConfirmationDialog(i,product.SKU,product.brand,product.description)">
              <span class="btn btn-danger btn-sm place-order pull-right">
                <i class="fa fa-trash"></i>&nbsp;Delete
              </span>
            </a>
          </td>
        </tr>
        <tr *ngIf="products?.length == 0">
          <td colspan="9" class="no-data-available">No Product Found!</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- modal template -->
<div>
  <div class="modal fade modal-sm" id="imageDialogModal" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <img id="productImage" class="img-responsive" src="" onError="this.src='/assets/product_placeholder.png';">
        </div>
      </div>
    </div>
  </div>
</div>

