<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" loadingText="Loading..." type="ball-scale-multiple"> </ngx-spinner>

<div class="col-md-8 col-sm-12 mx-auto">
  <div class="card">
    <div class="card-header alert-primary">
      Account Registration From
    </div>
    <div class="card-body">
      <form name="form" class="form-horizontal" autocomplete="off" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
        <div class="form-group">
          <div class="row">
            <label for="firstName" class="col-md-3 col-sm-12 text-right col-form-label">First Name: <b style="color: red">*</b></label>
            <div class="col-md-9 col-sm-12">
              <input type="text" class="form-control" id="firstName" name="firstName" [(ngModel)]="model.firstName" #firstName="ngModel" [ngClass]="{ 'is-invalid': f.submitted && firstName.invalid }" required />
              <small *ngIf="f.submitted && firstName.invalid" class="form-text text-left error-msg">First name is required</small>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <label for="lastName" class="col-md-3 col-sm-12 text-right col-form-label">Last Name: <b style="color: red">*</b></label>
            <div class="col-md-9 col-sm-12">
              <input type="text" class="form-control" id="lastName" name="lastName" [(ngModel)]="model.lastName" #lastName="ngModel" [ngClass]="{ 'is-invalid': f.submitted && lastName.invalid }" required />
              <small *ngIf="f.submitted && lastName.invalid" class="form-text text-left error-msg">Last name is required</small>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <label for="companyName" class="col-md-3 col-sm-12 text-right col-form-label">Company Name: <b style="color: red">*</b></label>
            <div class="col-md-9 col-sm-12">
              <input type="text" class="form-control" id="companyName" name="companyName" [(ngModel)]="model.companyName" #companyName="ngModel" [ngClass]="{ 'is-invalid': f.submitted && companyName.invalid }" required />
              <small *ngIf="f.submitted && companyName.invalid" class="form-text text-left error-msg">Company name is required</small>
            </div>
          </div>
        </div>        
        <div class="form-group">
          <div class="row">
            <label for="city" class="col-md-3 col-sm-12 text-right col-form-label">City Name:</label>
            <div class="col-md-9 col-sm-12">
              <input type="text" class="form-control" id="city" name="city" [(ngModel)]="model.city" #city="ngModel" />
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <label for="phoneNumber" class="col-md-3 col-sm-12 text-right col-form-label">Phone Number: <b style="color: red">*</b></label>
            <div class="col-md-9 col-sm-12">
              <input type="text" class="form-control" id="phoneNumber" name="phoneNumber" [(ngModel)]="model.phoneNumber" minlength="10" maxlength="10" #phoneNumber="ngModel" pattern="[0-9]{10}" [ngClass]="{ 'is-invalid': f.submitted && phoneNumber.invalid }" required />
              <small *ngIf="f.submitted && phoneNumber.invalid" class="form-text text-left error-msg">Phone number is invalid</small>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <label for="mobileNumber" class="col-md-3 col-sm-12 text-right col-form-label">Mobile Number: <b style="color: red">*</b></label>
            <div class="col-md-9 col-sm-12">
              <input type="text" class="form-control" id="mobileNumber" name="mobileNumber" [(ngModel)]="model.mobileNumber" minlength="10" maxlength="10" #mobileNumber="ngModel" pattern="[0-9]{10}" [ngClass]="{ 'is-invalid': f.submitted && mobileNumber.invalid }" required />
              <small *ngIf="f.submitted && mobileNumber.invalid" class="form-text text-left error-msg">Mobile number is invalid</small>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <label for="email" class="col-md-3 col-sm-12 text-right col-form-label">E-mail: <b style="color: red">*</b></label>
            <div class="col-md-9 col-sm-12">
              <input type="email" class="form-control" id="email" name="email" [(ngModel)]="model.email" #email="ngModel" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" [ngClass]="{ 'is-invalid': f.submitted && email.invalid }" required />
              <small *ngIf="f.submitted && email.invalid && email.errors.required" class="form-text text-left error-msg">Email is required</small>
              <small *ngIf="f.submitted && email.invalid && email.errors.pattern" class="form-text text-left error-msg">Email is invalid</small>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <label for="password" class="col-md-3 col-sm-12 text-right col-form-label">Password:</label>
            <div class="col-md-9 col-sm-12">
              <input type="password" class="form-control" id="password" minlength="6" maxlength="15" name="password" [(ngModel)]="model.password" #password="ngModel" [ngClass]="{ 'is-invalid': f.submitted && password.invalid }" [required]="!isUserExists" validateEqual="confirmPassword" reverse="true" />
              <small *ngIf="password.errors?.minlength" class="form-text text-left error-msg">
                Password must be at least 6 characters long.
              </small>
              <small *ngIf="f.submitted && password.invalid" class="form-text text-left error-msg">Password is required(minimum 6 character)</small>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <label for="confirmPassword" class="col-md-3 col-sm-12 text-right col-form-label">Re-type Password:</label>
            <div class="col-md-9 col-sm-12">
              <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" minlength="6" maxlength="15" [(ngModel)]="model.confirmPassword" #confirmPassword="ngModel" validateEqual="password" [required]="!isUserExists" />
              <div [hidden]="confirmPassword.untouched">
                <small *ngIf="f.submitted && !confirmPassword.valid" class="form-text text-left error-msg">Password mismatch</small>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <label for="SalesTaxID" class="col-md-3 col-sm-12 text-right col-form-label">Sales Tax Id <b style="color: red">*</b></label>
            <div class="col-md-9 col-sm-12">
              <input type="text" class="form-control" id="SalesTaxID" name="SalesTaxID" [(ngModel)]="model.salesTaxID" #SalesTaxID="ngModel" [ngClass]="{ 'is-invalid': f.submitted && SalesTaxID.invalid }" pattern="[A-Za-z0-9\-\_]{8,16}" required />
              <small *ngIf="f.submitted && SalesTaxID.invalid" class="form-text text-left error-msg">Sales Tax Id Tax is invalid</small>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-3 col-sm-12 text-right col-form-label"><b style="color: red">* : Required field</b></label>
        </div>
        <div class="form-group text-center">
          <button type="submit" name="submitted" value="true" class="btn btn-success btn-sm place-order"><i class="fa fa-send-o"></i> {{ buttonLabel }}</button>
        </div>
      </form>
    </div>
  </div>
</div>
