<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" loadingText="Loading..." type="ball-scale-multiple">
</ngx-spinner>

<div class="col-md-8 col-sm-12 mx-auto">
  <div class="card">
    <div class="card-header alert-primary">
      Contact Information
    </div>
    <div class="card-body">
      <form name="form" class="form-horizontal" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
        <div class="form-group">
          <div class="row">
            <label for="firstName" class="col-md-3 col-sm-12 text-right col-form-label">First Name:</label>
            <div class="col-md-9 col-sm-12">
              <input type="text" class="form-control" id="firstName" name="firstName" [(ngModel)]="model.firstName" #firstName="ngModel"
                [ngClass]="{ 'is-invalid': f.submitted && firstName.invalid }" required>
              <small *ngIf="f.submitted && firstName.invalid" id="emailHelp" class="form-text text-left error-msg">First name is required</small>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <label for="lastName" class="col-md-3 col-sm-12 text-right col-form-label">Last Name:</label>
            <div class="col-md-9 col-sm-12">
              <input type="text" class="form-control" id="lastName" name="lastName" [(ngModel)]="model.lastName" #lastName="ngModel">
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <label for="companyName" class="col-md-3 col-sm-12 text-right col-form-label">Company Name:</label>
            <div class="col-md-9 col-sm-12">
              <input type="text" class="form-control" id="companyName" name="companyName" [(ngModel)]="model.companyName" #companyName="ngModel">
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <label for="phoneNumber" class="col-md-3 col-sm-12 text-right col-form-label">Phone Number:</label>
            <div class="col-md-9 col-sm-12">
              <input type="text" class="form-control" id="phoneNumber" name="phoneNumber" [(ngModel)]="model.phoneNumber" #phoneNumber="ngModel" pattern="[0-9]{10}">
              <small *ngIf="f.submitted && phoneNumber.invalid && phoneNumber.errors.pattern" class="form-text text-left error-msg">Phone number is invalid</small>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <label for="mobileNumber" class="col-md-3 col-sm-12 text-right col-form-label">Mobile Number:</label>
            <div class="col-md-9 col-sm-12">
              <input type="text" class="form-control" id="mobileNumber" name="mobileNumber" [(ngModel)]="model.mobileNumber" #mobileNumber="ngModel" pattern="[0-9]{10}">
              <small *ngIf="f.submitted && mobileNumber.invalid && mobileNumber.errors.pattern" class="form-text text-left error-msg">Mobile number is invalid</small>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <label for="email" class="col-md-3 col-sm-12 text-right col-form-label">E-mail:</label>
            <div class="col-md-9 col-sm-12">
              <input type="email" class="form-control" id="email" name="email" [(ngModel)]="model.email" #email="ngModel" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
                [ngClass]="{ 'is-invalid': f.submitted && email.invalid }" required>
              <small *ngIf="f.submitted && email.invalid && email.errors.required" class="form-text text-left error-msg">Email is required</small>
              <small *ngIf="f.submitted && email.invalid && email.errors.pattern" class="form-text text-left error-msg">Email is invalid</small>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <label for="password" class="col-md-3 col-sm-12 text-right col-form-label">Password:</label>
            <div class="col-md-9 col-sm-12">
              <input type="password" class="form-control" id="password" minlength="6" maxlength="15" name="password" [(ngModel)]="model.password" #password="ngModel"
                [ngClass]="{ 'is-invalid': f.submitted && password.invalid }" [required]="!isUserExists" validateEqual="confirmPassword"
                reverse="true">
              <small *ngIf="password.errors?.minlength" class="form-text text-left error-msg">
                Password must be at least 6 characters long.
              </small>
              <small *ngIf="f.submitted && password.invalid" class="form-text text-left error-msg">Password is required(minimum 6 character)</small>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <label for="confirmPassword" class="col-md-3 col-sm-12 text-right col-form-label">Re-type Password:</label>
            <div class="col-md-9 col-sm-12">
              <input type="password" class="form-control" id="confirmPassword" name='confirmPassword' minlength="6" maxlength="15" [(ngModel)]="model.confirmPassword"
                #confirmPassword="ngModel" validateEqual="password" [required]="!isUserExists">
              <div [hidden]="confirmPassword.untouched">
                <small *ngIf="f.submitted && !confirmPassword.valid" class="form-text text-left error-msg">Password mismatch</small>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group text-center">
          <button type="submit" name="submitted" value="true" class="btn btn-success btn-sm place-order">
            <i class="fa fa-send-o"></i> {{ buttonLabel }}
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
