<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" loadingText="Loading..." type="ball-scale-multiple">
</ngx-spinner>

<nav class="navbar navbar-expand-md navbar-toggleable-md fixed-top" (window:resize)="onResize($event)">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="#" class="navbar-brand logo-container" title="Home">
        <span class="logo-img">
          <img src="/assets/logo.png" class="logo-image" alt="Perfumes2Go_Logo">
        </span>
        <span class="logo-text">
          <span class="logo-headline">Perfumes2Go</span>
          <span class="logo-subheadline">(Wholesale)</span>
        </span>
      </a>
    </div>
    <div class="products-links-mobile">
      <a class="nav-link dropdown-toggle" id="products-dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fa fa-product-hunt" aria-hidden="true"></i>
      </a>
      <div class="dropdown-menu" aria-labelledby="products-dropdown">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/products']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">All Products</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/products/new']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">New Arrivals</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/products/special']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">Specials</a>
          </li>
        </ul>
      </div>
    </div>

    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/products']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">All Products</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/products/new']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">New Arrivals</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/products/special']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">Specials</a>
      </li>
    </ul>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end pull-right" id="navbarSupportedContent">
      <!-- navbar buttons -->
      <div class="nav-buttons-wrapper">
        <a *ngIf="showLogin" [routerLink]="['/user/login']" class="btn btn-sm btn-outline-light">
          <i class="fa fa-sign-in"></i>&nbsp;Login
        </a>
        <a [routerLink]="['/user/register']" *ngIf="showSignup" class="btn btn-sm btn-outline-light">
          <i class="fa fa-user"></i>&nbsp;Sign Up
        </a>
        <button *ngIf="showGetPDF" (click)="promptGetPDF($event)" class="btn btn-sm btn-outline-light">
          <i class="fa fa-sign-in"></i>&nbsp;Download PDF
        </button>
        <button *ngIf="showGetExcel" (click)="promptGetExcel($event)" class="btn btn-sm btn-outline-light">
          <i class="fa fa-sign-in"></i>&nbsp;Download EXCEL
        </button>
        <a *ngIf="showMyAccount" [routerLink]="['/user/details']" class="btn btn-sm btn-outline-light">
          <i class="fa fa-user"></i>&nbsp;Hi, {{ userName }}
        </a>
        <a class="btn btn-sm btn-outline-light" [routerLink]="['add-product']" *ngIf="showAddItem">
            <i class="fa fa-plus"></i>&nbsp;Add Item
        </a>
        <a class="btn btn-sm btn-outline-light" [routerLink]="['list-product']" *ngIf="showListItem">
          <i class="fa fa-image"></i>&nbsp;Default images
        </a>
        <a class="btn btn-sm btn-outline-light" [routerLink]="['add-vendor']" *ngIf="showAddVendor">
          <i class="fa fa-plus"></i>&nbsp;Add Vendor
        </a>
        <a class="btn btn-sm btn-outline-light" [routerLink]="['orders']" *ngIf="showOrders">
            <i class="fa fa-arrow-right"></i>&nbsp;Orders
        </a>
        <a class="btn btn-sm btn-outline-light" [routerLink]="['vendors']" *ngIf="showVendors">
          <i class="fa fa-list"></i>&nbsp;Vendors
      </a>
        <a class="btn btn-sm btn-outline-light" [routerLink]="['users']" *ngIf="showUsers">
            <i class="fa fa-address-book-o"></i>&nbsp;Users
         </a>
        <button (click)="showCartDetails()" *ngIf="showAddCart" class="btn btn-sm btn-outline-light">
          <i id="sml-cart" class="fa fa-shopping-cart"></i>&nbsp;Checkout
        </button>
        <a [routerLink]="['/products']" *ngIf="showEditCart" class="btn btn-sm btn-outline-light">
          <i id="sml-cart" class="fa fa-shopping-cart"></i>&nbsp;Edit Cart
        </a>
        <a *ngIf="showAboutUs" [routerLink]="['/aboutus']" class="btn btn-sm btn-outline-light" title="About Us">
          <i class="fa fa-book"></i>
        </a>
        <a *ngIf="showContactUs" [routerLink]="['/contactus']" class="btn btn-sm btn-outline-light" title="Contact Us">
          <i class="fa fa-comments"></i>
        </a>
        <button *ngIf="showBack" id="go-back" class="btn btn-sm btn-outline-light" (click)="location.back()">
          <i class="fa fa-arrow-left"></i>&nbsp;Go Back
        </button>
      </div>
      <!-- navbar buttons end -->
      <!-- dropdown -->
      <div class="dropdown-wrapper" *ngIf="showMenu">
        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <!-- navbar buttons form mobile -->
          <div class="nav-mobile-buttons-wrapper clearfix">
            <a *ngIf="showMyAccount" [routerLink]="['/user/details']" class="btn btn-sm btn-primary pull-left headerBtn">
              <span class="btn-icon">
                <i class="fa fa-user"></i>
              </span>
              <span class="btn-text">Hi, {{ userName }}</span>
            </a>
            <a (click)="showCartDetails()" *ngIf="showAddCart" class="btn btn-sm btn-primary pull-right headerBtn">
              <span class="btn-icon">
                <i class="fa fa-shopping-cart fa-3x sml"></i>
              </span>
              <span class="btn-text">Checkout</span>
            </a>
            <a [routerLink]="['/products']" *ngIf="showEditCart" class="btn btn-sm btn-primary pull-right headerBtn">
              <span class="btn-icon">
                <i class="fa fa-shopping-cart fa-3x sml"></i>
              </span>
              <span class="btn-text">Edit Cart</span>
            </a>
            <a *ngIf="showAboutUs" [routerLink]="['/aboutus']" class="btn btn-sm btn-primary pull-left headerBtn">
              <span class="btn-icon">
                <i class="fa fa-book"></i>
              </span>
              <span class="btn-text">About Us</span>
            </a>
            <a *ngIf="showContactUs" [routerLink]="['/contactus']" class="btn btn-sm btn-primary pull-left headerBtn">
              <span class="btn-icon">
                <i class="fa fa-comments"></i>
              </span>
              <span class="btn-text">Contact Us</span>
            </a>
            <a *ngIf="showBack" class="btn btn-sm btn-primary pull-right headerBtn" (click)="location.back()">
              <span class="btn-icon">
                <i class="fa fa-arrow-left"></i>
              </span>
              <span class="btn-text">Go Back</span>
            </a>
            <a [routerLink]="['/user/register']" *ngIf="showSignup" class="btn btn-sm btn-primary pull-right headerBtn">
              <span class="btn-icon">
                <i class="fa fa-user"></i>
              </span>
              <span class="btn-text">Sign Up</span>
            </a>
            <a *ngIf="showLogin" [routerLink]="['/user/login']" class="btn btn-sm btn-primary pull-left headerBtn">
              <span class="btn-icon">
                <i class="fa fa-sign-in"></i>
              </span>
              <span class="btn-text">Login</span>
            </a>
          </div>
          <!-- navbar buttons form mobile end -->
          <div class="dropdown-bottom-links clearfix">
            <a class="dropdown-item" [routerLink]="['/upload-products']" *ngIf="showUploadProducts">
              <span class="btn-text">
                <i class="fa fa-file-excel-o"></i>&nbsp;Upload Products
              </span>
            </a>
            <div class="dropdown-divider" *ngIf="showMngData"></div>
            <a class="dropdown-item tap-here" (click)="promptExportCsv($event)" *ngIf="showMngData">
              <span class="btn-text">
                <i class="fa fa-download"></i>&nbsp;Export Data
              </span>
            </a>
            <a class="dropdown-item tap-here" (click)="promptDelete($event)" *ngIf="showMngData">
              <span class="btn-text">
                <i class="fa fa-trash"></i>&nbsp;DELETE Data
              </span>
            </a>
            <div class="dropdown-divider" *ngIf="showMngData"></div>
            <a class="dropdown-item tap-here" (click)="logout()" *ngIf="isUserLoggedIn">
              <span class="btn-text">
                <i class="fa fa-sign-out"></i>&nbsp;Logout
              </span>
            </a>
          </div>
        </div>
      </div>
      <!-- dropdown end -->
    </div>
  </div>
</nav>

<div class="mx-auto order-0 position-relative shopping-cart-div">
  <span class="header-shopping-cart">
    <p *ngIf="showCart" class="total" id="shopping-cart-total">
      <i class="fa fa-shopping-cart fa-3x"></i>
      <span class="cart-total">{{ (productsQuantity && productsQuantity !== 0) ? "Products="+orderItems.length + ", Quantity=" + productsQuantity + ", Total=
          " + (subtotalQuantity | currency:'USD') : orderItems.length }}</span>
    </p>
  </span>
</div>

<!-- modal templates -->
<div class="modal fade bd-modal-sm" id="exportDialogModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <p class="text-center"><br>All the data on DB will be exported as CSV format.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" (click)="downloadCsvFiles()">
          <i class="fa fa-download">&nbsp;</i>Export (.csv)
        </button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade bd-modal-sm" id="deleteDialogModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <p class="text-center text-danger">
          <br>DELETE which data?
        </p>
        <div class="form-check" *ngFor="let item of deleteItemList">
          <input class="form-check-input" type="radio" [(ngModel)]="radioSelected" name="{{ item.name }}" id="{{ item.name }}" value="{{ item.value }}" (change)="onRadioItemChange()">
          <label class="form-check-label" for="{{ item.name }}">
            {{ item.caption }}
          </label>
        </div>
        <br>
        <div class="alert alert-success" role="alert">
          It will export all data of <b>{{ radioSelectedStr }}</b> in CSV format prior to DELETE.
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="deleteData(radioSelected)">
          <i class="fa fa-trash">&nbsp;</i>DELETE
        </button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>