<footer class="footer text-center no-print">
  <div class="row">
    <div class="col-md-4 col-sm-4">
        <p class="footer-text text-left">
          <!-- <a href="mailto:abc.xyz@gmail.com" target="_blank">Contact Us</a> -->
        </p>
    </div>
    <div class="col-md-4 col-sm-4">
      <p class="footer-text text-center copyright">
        &#169; 2018 - Developed by
        <a href="http://akros.uz" target="_blank">Akros Inc</a>
      </p>
    </div>
    <div class="col-md-4 col-sm-4">
      <!-- <p class="text-right">
        <a href="#" class="social-link" target="_blank"><i class="fa fa-facebook"></i></a>
        <a href="#" class="social-link" target="_blank"><i class="fa fa-twitter"></i></a>
      </p> -->
    </div>
  </div>
</footer>
