<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" loadingText="Loading..." type="ball-scale-multiple">
</ngx-spinner>
<div class="row">
  <div class="col-sm-8 mx-auto">
    <div class="card">
      <div class="card-header">
        Forgot Password?
      </div>
      <div class="card-body">
        <section class="user-information-container clear">
          <form (ngSubmit)="forgetPasswordForm.form.valid && onSubmit(forgetPasswordForm, requestType)" #forgetPasswordForm="ngForm"
            novalidate>
            <p *ngIf="requestType === 'resend'" class="text-center">Please, enter your e-mail address to resend verification mail.</p>
            <p *ngIf="requestType === 'reset'" class="text-center">Please, enter your e-mail address to reset your password</p>
            <div class="form-group row">
              <label for="email" class="col-md-3 col-sm-12 col-form-label text-right">E-mail:</label>
              <div class="col-md-9 col-sm-12">
                <input type="email" name="email" id="email" class="form-control" placeholder="E-mail" [(ngModel)]="email" aria-required="true"
                  required>
              </div>
            </div>

            <div class="form-group text-center">
              <button *ngIf="requestType === 'reset'" type="submit" name="submitted" value="true" class="btn btn-success btn-sm place-order"
                [disabled]="!forgetPasswordForm.form.valid">
                <i class="fa fa-key"></i> Reset Password
              </button>

              <button *ngIf="requestType === 'resend'" type="submit" name="submit" value="true" class="btn btn-success btn-sm place-order"
                [disabled]="!forgetPasswordForm.form.valid">
                <i class="fa fa-key"></i> Verify Account
              </button>
            </div>
            <div class="text-center">
              <h6 class="contact-information-title text-center">New user?
                <a href="./#/user/register">Create an account here</a>
              </h6>
            </div>
          </form>
        </section>
      </div>
    </div>
  </div>
</div>
