/* 
 * disable hover zoom
 */

/* .zoom {
    transition: transform .2s;
    margin: 0 auto;
}
.zoom:hover {
    position: absolute;
    transform: scale(5);
    z-index: 1;
} */

img.zoom:hover {
    cursor: pointer;
    border: 1px solid #cccccc;
}

.shopping-cart-total {
    font-size: 24px;
    font-weight: bold;
}

.shopping-cart-quantity {
    font-size: 18px;
    font-weight: bold;
    color: #6c6c6c;
}

.summary-block {
    padding: 30px;
    background-color: #fff;
    border-top: solid 3px #337AB7;
}

.shopping-cart {
    margin-top: 50px;
}

.summary-table {
    margin-top: 20px;
    padding: 15px;
}

button{
    margin-left: 3px;
}

h2 {
    font-size: 30px;
}

.modal-content {
    background-color: rgba(0, 0, 0, .0001) !important;
}

.modal-header {
    padding: 0rem .5rem 0rem 0rem !important;
    border-bottom: none !important;
}

.modal-dialog {
    text-align: center;
}

.modal-content {
    display: inline-block;
}

@media (min-width: 768px) {
    .modal-dialog {
        width: auto;
        max-width: auto;
    }
}
